.login {
   margin: 0 auto;
   margin-top: 2%;
   top: 50%;
   left: 50%;
   background: -webkit-linear-gradient(right, #0b348b, #0b5c8b, #0b7c8b);
   opacity: 0.8;
   padding: 30px;
   max-width: 700px;
   width: 100%;
   box-shadow: 0px 0px 25px 10px black;
   border-radius: 15px;
}

.avatar {
   margin: 0 auto;
   margin-top: -60px;
   left: 50%;
   font-size: 30px ;
   background: #17a2b8;
   width: 100px;
   height: 100px;
   line-height: 30px;
   text-align: center;
   border-radius: 50%;
}

.ico{
   margin-top: 35px;
}

.form-group{
   margin-top: -10px;
}

button{
   margin-bottom: -40px;
}